
.intro{
    /* color:white; */
    display: flex;
    margin-bottom: 100px;
  
font-family: Arial, Helvetica, sans-serif;

font-weight: bold;
font-weight: bold;
  font-size: 3rem;
  

     
   

}
.intro-content h1{
    font-size: 3rem;
}

.typing{
    color:rgb(7, 165, 165);
    font-size: 2rem;
}
/* .intro .sp{
    color: rgb(70, 5, 174);
} */
.line{
    font-size:1rem;
}
.intro p{
    color: rgb(40, 33, 82);
    
}


.intro-content{
    width: 50%;

}
.intro-img{
    width: 50%;
    padding-left: 120px;
}



@media  (max-width: 992px) {
    
   .intro{
    flex-direction: column;
    
   }
   .intro-content{
    width: 100%;
    font-size: 3.5rem;
   }
   .intro-img{
    
    width: 100%;
   }
    
   }














