
/* .body{
    overflow-x: hidden;
} */

html, body {width: auto!important; overflow-x: hidden!important} 
.rightcontainer p{
    font-size: medium;
}
.home-container{
    
    margin-left: 11%;
    margin-right: 11%;
}

@media (max-width:992px){
    .home-container{
        margin-left: 6%;
        margin-right: 6%;
    }
}






