
/* About css */

.about-content{
    width: 90%;
    font-size: medium;
    word-wrap: normal;
    line-height: 30px;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    max-width: 95%;
    background-color: rgb(19, 23, 43);
    
    
}
.indentation{
    color: rgb(2, 9, 39);
}


.b{
    color: rgb(70, 5, 174);
}
.y{
    color: yellow;
}
.g{
    color: rgb(26, 206, 83);
}
.r{
    color: red;
}

