
/* About css */

p{
    color: rgb(33, 64, 82);
}

.about-content{
    
    word-wrap: normal;
    
    
    padding: 30px;
    border-radius: 10px;
  
    background-color:aliceblue;
   
    

    box-shadow: 10px 10px gray;


border-radius: 20px;
margin-bottom: 100px;
    
}

.indentation{
    color: rgb(2, 9, 39);
}


.aboutinfo{
    padding: 5px;
}

/* info-block */
.info-block{
    
    font-family: Arial, Helvetica, sans-serif;
}

.info-block-heading{
    background-color:rgb(92, 118, 250);
    border-radius: 8px;
   color: aliceblue;
    padding:10px;
    

   
}
.info-block p{
    font-size: medium;
    font-weight: 400;
    color: black;
}

.topic-head{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: larger;
    padding: 5px;
}

.about-txt{
margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
    /* text-align: center; */
}

.skills{
    margin-top: 50px;
    margin: 20px;
}
.skill-head{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    padding: 5px;
}
.skill-container{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}
.about-skill{
    border-radius: 10px;
    width: 100px;
    height: 100px;
}
.about-skill img{
    border-radius: 10px;
    margin: 10px;
}

@media  (max-width: 992px) {
    
    .about-content{
        border-radius: 80px;
    }
    .aboutinfo{
        margin: 20px;
    }
    .about-txt{
        font-size: 40px;
        text-align: justify ; 
    }
.topic-head {
    
    margin-bottom: 5px;
   
    /* text-align: center; */
}
.topic-head h1{
    font-weight: bold;
}
    
   }

